.inputs{
    height:70px;
    width:70%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
input{
    background: none;
    margin-left: 12px;
    flex: 1;
    border:none
}
input:focus{
    outline: none;
}
button{
    margin-right: 10px;
    border-radius: 10px;
    border:none;
    background-color: rgba(11, 84, 240, 0.495);
}