.App{
  /* text-align: left; */
  height:100vh;
  width:100vw;
  background-color:aquamarine; 
  display: grid;
  place-items: center;                                                     
}
.side{
  background-color: grey;
  color:aliceblue;
  height:1020px
}
.head{
  /* justify-content: center; */
 display: inline-block;
}
.data{
  display: flex;
 
}

/* ResponseForm */
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form{
  
  width:100%;
  height:1000px
}
.whole{
  background-color: rgb(198, 194, 194);

  /* background-color: rgba(92, 87, 87, 0.863); */
  /* background-color: rgb(51, 172, 51); */
  

  }
  .date{
    display:flex
  }
